* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12pt;
  color: #333;
  margin: 0;
  padding: 5px;
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dt {
  font-weight: 700;
}

dt, dd {
  line-height: 1.42857143;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

input, select, .btn {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  margin: 2px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;

  color: #333;
  position: relative;
}

.btn input {
  position: absolute;
  opacity: 0;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%; overflow: hidden;
}

.btn:focus, .btn:hover {
  background-color: #e6e6e6;
  border-color: #aaa;
}

.btn:active {
  background-color: #d4d4d4;
  border-color: #888;
}

@media (min-width: 768px) {
  dl.kati dt {
    float: left;
    width: 160px;
    overflow: hidden;
    /* clear: left; */
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dl.kati dd {
    margin-left: 180px;
  }
}

dl.kati dd {
  white-space: pre-line;
}

.form-control {
  width: auto;
  display: inline;
}

th, td {
  padding: 2px;
}

#result {
  border: 1px solid black;
  background: #eee;
  overflow-x: auto;
}

#result table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

#result table > tbody > tr > th {
  border-bottom: 1px solid #ddd;
}

#result table > tbody > tr > th,
#result table > tbody > tr > td {
  vertical-align: top;
}

@media screen and (max-width: 767px) {
  #result {
    width: 100%;
    border: 1px solid #ddd;
  }
  #result th,
  #result td  {
    white-space: nowrap;
  }
}

input.person, textarea.person {
  width: 20em;
  max-width: 100%;
}

textarea.person {
  height: 5em;
}

.person-pic {
  width: 300px;
}

.person-pic img {
  display: block;
  max-width: 100%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .person-pic {
    float: left;
    margin: 10px 0;
  }
  .person-main {
    margin-left: 350px;
  }
  .person-main:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
}

#pic-file {
  display: none;
}
