{{template "header.html"}}

<a href="/" class="btn">Volver</a><br>

<h1>Lista de actividades de Katiuskas</h1>

{{- if .activities }}
<table>
  <tr>
    <th>Fecha</th><th>Organizador</th><th>Actividad</th>
  </tr>
{{- range .activities}}
  <tr>
    <td>{{ .date_begin }}</td><td>{{ .organizer }}</td><td>{{ .title }}</td>
  </tr>
{{- end}}
</table>
{{- else }}
<p>No hay ninguna actividad programada.</p>
{{- end }}
<b class="btn btn-new-create">Nueva actividad</b>

<div class="form-new-activity">
  <dl class="kati">
    <dt>Fecha</dt>
      <dd><input type="date" id="date"></dd>
    <dt>Organizador</dt>
      <dd><select id="organizer">{{range $.people}}<option value="{{.id}}"{{if eq $.id .id}} selected="selected"{{end}}>{{.name}} {{.surname}}</option>{{end}}</select></dd>
    <dt>Título</dt>
      <dd><input id="title" type="text"></dd>
  </dl>
  <div class="buttons">
    <b class="btn btn-new-save">Crear</b>
    <b class="btn btn-new-cancel">Cancelar</b>
  </div>
<div>

<style type="text/css">
  .form-new-activity {
    display: none;
    width: 600px;
    max-width: calc(100% - 4px);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    position: fixed;
    background: white;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .form-new-activity .buttons {
    text-align: right;
  }
</style>
{{template "footer.html"}}
<script>
  $(function() {
    $(".btn-new-create").click(function() {
      $(".form-new-activity").show();
    });
    $(".btn-new-cancel").click(function() {
      $(".form-new-activity").hide();
    });
    $(".btn-new-save").click(function() {
      var dat = $("input#date").val();
      var organizer = $("select#organizer").val();
      var title = $("input#title").val();
      $.post("/ajax/activity", {"action": "new-activity", "date": dat, "organizer": organizer, "title": title}, function() {
        location.reload();
      });
      return false;
    });
  });
</script>
