{{template "header.html"}}

<a href="/" class="btn btn-default">Back</a><br>

<h1>Admin interface</h1>

{{if .new_emails}}
<h2>New emails</h2>
<dl class="kati new-email">
{{range .new_emails}}
  <dt>Date</dt>
    <dd>{{ .date }}</dd>
  <dt>E-mail</dt>
    <dd class="new-email">{{ .email }}</dd>
  <dt>Comment</dt>
    <dd>{{ .comment }}</dd>
  <dt>Action</dt>
    <dd><select class="form-control new-email"><option value="0">Asignar a...</option><option value="-1">Borrar (no es de Katiuskas)</option><option disabled="disabled"></option><option disabled="disabled">Socios actuales:</option>{{range $.people}}{{if .first_ex}}<option disabled="disabled"></option><option disabled="disabled">Ex-socios:</option><option disabled="disabled"></option>{{end}}<option value="{{.id}}">{{.name}} {{.surname}}</option>{{end}}</select></dd>
  <hr>
{{end}}
</dl>
{{end}}

<h2>Lista de socios</h2>
<ul>
{{range .people -}}
{{if .first_ex -}}
</ul>
<h2>Ex-socios</h2>
<ul>
{{end -}}
  <li><a href="/admin/person={{.id}}">{{.name}} {{.surname}}</a></li>
{{end -}}
</ul>

{{template "footer.html"}}
<script>
  $(function() {
    $("select.new-email").change(function() {
      var val = $(this).val();
      var name = $(this).find("option:selected").text();
      var email = $(this).parent().prevAll("dd.new-email").first().html();
      if (val!=0 && confirm("Assign " + email + " to " + name + "?")) {
        $.get("/ajax/admin", {"action": "new-email", "email": email, "id": val}, function() {
          location = "/admin";
        });
      }
      return false;
    });
  });
</script>
