<!DOCTYPE html>{{/* echo Club de Espeleología Katiuskas | recode utf-8..latin1 | figlet */}}
{{noescape `<!--
  ____ _       _           _
 / ___| |_   _| |__     __| | ___
| |   | | | | | '_ \   / _' |/ _ \
| |___| | |_| | |_) | | (_| |  __/
 \____|_|\__,_|_.__/   \__,_|\___|
 _____                _            _             __
| ____|___ _ __   ___| | ___  ___ | | ___   __ _/_/ __ _
|  _| / __| '_ \ / _ \ |/ _ \/ _ \| |/ _ \ / _' | |/ _' |
| |___\__ \ |_) |  __/ |  __/ (_) | | (_) | (_| | | (_| |
|_____|___/ .__/ \___|_|\___|\___/|_|\___/ \__, |_|\__,_|
          |_|                              |___/
 _  __     _   _           _
| |/ /__ _| |_(_)_   _ ___| | ____ _ ___
| ' // _' | __| | | | / __| |/ / _' / __|
| . \ (_| | |_| | |_| \__ \   < (_| \__ \
|_|\_\__,_|\__|_|\__,_|___/_|\_\__,_|___/

-->`}}
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ if .HTMLTitle }}{{.HTMLTitle}}{{else}}Intranet de Katiuskas{{end}}</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/css/katiuskas.css" />
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript">
    var h = window.location.href.indexOf('#');
    if (h > 0) history.replaceState({}, document.title, window.location.href.substr(0, h));
  </script>
</head>
<body>
