{{template "header.html"}}

<a href="/" class="btn btn-default">Volver</a><br>

<h1>Junta Directiva</h1>
<table>
  <tr>
    <th>Cargo</th><th>Nombre</th><th>Apellidos</th><th>Teléfono</th>
  </tr>
{{range .board}}
  <tr>
    <td>{{ .position }}</td><td>{{ .name }}</td><td>{{ .surname }}</td><td>{{ .phone }}</td>
  </tr>
{{end}}
</table>

<hr>

<h1>Documentos de Katiuskas</h1>
<ul>
  <li><a href="/public/Estatutos-Katiuskas-2013.pdf">Estatutos</a></li>
  <li><a href="/public/Reglamento-de-funcionamiento-interno-Katiuskas-2014.pdf">Reglamento de Funcionamiento Interno</a></li>
  <li><a href="/public/Normativa-espeleodromo-Katiuskas-2016.pdf">Normativa Espeleódromo</a></li>
  <li><a href="/public/Plantilla-memorias.docx">Plantilla para hacer memorias</a></li>
</ul>

<h1>Logos, etc</h1>
<ul>
  <li><a href="/files/logos/logo-KATI-circ.png">logo-KATI-circ.png</a></li>
  <li><a href="/files/logos/logo-KATI_naranja4.ai">logo-KATI_naranja4.ai</a></li>
  <li><a href="/files/logos/logo-KATI_naranja4.png">logo-KATI_naranja4.png</a></li>
  <li><a href="/files/logos/logo-KATI_naranja4.svg">logo-KATI_naranja4.svg</a></li>
  <li><a href="/files/logos/logo-KATI-web.jpg">logo-KATI-web.jpg</a></li>
</ul>

<h2>Memorias de Actividades</h2>
{{range .actividades}}
<a class="btn" href="/public/Memorias-de-actividades/{{.Name}}">{{.Year}}</a>
{{end}}

<h2>Actas de las Asambleas</h2>
{{range .asambleas}}
<a class="btn" href="/public/Asambleas/{{.Name}}">{{.Date}}</a>
{{end}}

{{template "footer.html"}}
