{{template "header.html"}}

<style type="text/css">
  #result {
    border: 1px solid black;
    background: #eee;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 150px;
    bottom: 5px;
    overflow: auto;
  }
  #entry-form {
    width: calc(100vw - 50px);
  }
  #entry-date {
    width: 160px;
  }
  #entry-description {
    width: calc(100% - 300px);
  }
  #entry-template {
    display: none;
  }
</style>

<a href="/" class="btn">Volver</a><br>

<form id="form">
  <input type="hidden" name="action" value="show-money">
Cuenta a mostrar:
<select id="form-account" name="account">
{{- range .accounts }}
<option value="{{.id}}"{{if eq .id $.money_id}} selected="selected"{{end}}{{if not .parent_id}} disabled="disabled"{{end}}>{{if .parent_id}}&nbsp;&nbsp;{{end}}{{.name}}{{if .balance}} --- {{.balance}}€{{end}}</option>
{{- end }}
</select>
<br>
Líneas a mostrar:
<select name="from">
<option value="L20">Últimas 20 entradas</option>
<option value="{{.last_30d}}">Últimos 30 días</option>
<option value="{{.last_365d}}">Últimos 365 días</option>
<option value="{{.year}}-01-01">Año actual ({{.year}})</option>
<option value="{{.last_year}}-01-01">Últimos 2 años ({{.last_year}} y {{.year}})</option>
<option value="0001-01-01">Todo</option>
</select>
</form>

<button class="btn" id="btn-new-entry">Nueva entrada</button>

<div id="result">
</div>

<div class="popup popup-new-entry" style="display: none">
  <form id="entry-form">
    <input type="hidden" name="action" value="add-entry">
    Fecha: <input type="date" id="entry-date" name="entry-date" value="{{.today}}">
    &emsp;
    Texto: <input type="text" id="entry-description" name="entry-description">
    <hr>
    <table>
      <tr>
        <th>Cuenta</th>
        <th>Valor</th>
      </tr>
      <tr id="entry-template">
        <td><select id="entry-account" name="entry-account">
        {{- range .accounts }}
          <option value="{{.id}}"{{if not .parent_id}} disabled="disabled"{{end}}>{{if .parent_id}}&nbsp;&nbsp;{{end}}{{.name}}</option>
        {{- end }}
        </select></td>
        <td><input type="number" id="entry-value" name="entry-value"></input></td>
      </tr>
    </table>
    <hr>
    <button class="btn btn-default" id="btn-entry-save">Guardar</button>
    <button class="btn btn-default" id="btn-entry-clone">Añadir línea</button>
    <button class="btn btn-default" id="btn-entry-cancel">Cancelar</button>
  </form>
</div>

<script>
  function update() {
    var href = "/money/id=" + $("#form-account").val();
    history.replaceState(href, null, href);
    data = $("#form").serialize();
    $.post("/ajax/money", data, function(result) {
      $("#result").html(result);
    });
  }
  var next_id = 1;
  function entry_clone() {
    var $template = $('#entry-template');
    var $clone = $template.clone().removeAttr('id');
    $clone.find('#entry-date').attr('id', 'entry'+next_id+'-date').attr('name', 'entry'+next_id+'-date');
    $clone.find('#entry-account').attr('id', 'entry'+next_id+'-account').attr('name', 'entry'+next_id+'-account');
    $clone.find('#entry-value').attr('id', 'entry'+next_id+'-value').attr('name', 'entry'+next_id+'-value');
    $template.before($clone);
    next_id++;
  }
  $(function() {
    update();
    $("#form :input").change(function() {
      update();
      return false;
    });
    $("#btn-new-entry").click(function() {
      entry_clone();
      entry_clone();
      $(".popup-new-entry").show();
    });
    $("#btn-entry-clone").click(function() {
      entry_clone();
      return false;
    });
    $("#btn-entry-save").click(function() {
      data = $("#entry-form").serialize();
      $.post("/ajax/money", data, function(result) {
        console.log(result);
        location.reload();
      });
      return false;
    });
    $("#btn-entry-cancel").click(function() {
      location.reload();
      return false;
    });
  });
</script>

{{template "footer.html"}}
