{{template "header.html"}}

<style type="text/css">
  #result {
    border: 1px solid black;
    background: #eee;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 150px;
    bottom: 5px;
    overflow: auto;
  }
</style>

<a href="/" class="btn">Volver</a><br>

<form id="form">
Cuenta a mostrar:
<select name="account">
{{- range .accounts }}
<option value="{{.id}}"{{if not .parent_id}} disabled="disabled"{{end}}>{{if .parent_id}}&nbsp;&nbsp;{{end}}{{.name}}{{if .balance}} --- {{.balance}}€{{end}}</option>
{{- end }}
</select>
<br>
Líneas a mostrar:
<select name="from">
<option value="{{.last_30d}}">Últimos 30 días</option>
<option value="{{.last_365d}}">Últimos 365 días</option>
<option value="{{.year}}-01-01">Año actual ({{.year}})</option>
<option value="{{.last_year}}-01-01">Últimos 2 años ({{.last_year}} y {{.year}})</option>
<option value="0001-01-01">Todo</option>
</select>
</form>

<button class="btn" id="btn-new-entry">Nueva entrada</button>

<div id="result">
</div>

<div class="popup popup-new-entry" style="display: none">
  <form id="entry-form">
    <input type="hidden" name="action" value="add-money">
    Texto: <input type="text" name="entry-description">
    <hr>
    <div>
      Fecha: <input type="date" name="entry-issued" value="{{.today}}">
      <select name="entry-account">
      {{- range .accounts }}
        <option value="{{.id}}"{{if not .parent_id}} disabled="disabled"{{end}}>{{if .parent_id}}&nbsp;&nbsp;{{end}}{{.name}}</option>
      {{- end }}
      </select>
      <input type="number" name="value"></input>
    </div>
    <button class="btn btn-default" id="btn-entry-save">Guardar</button>
    <button class="btn btn-default" id="btn-entry-cancel">Cancelar</button>
  </form>
</div>

<script>
  function update() {
    data = $("#form").serialize();
    $.post("/ajax/money", data, function(result) {
      $("#result").html(result);
    });
  }
  $(function() {
    update();
    $("#form :input").change(function() {
      update();
      return false;
    });
    $("#btn-new-entry").click(function() {
      $(".popup-new-entry").show();
    });
    $("#btn-entry-save").click(function() {
      data = $("#entry-form").serialize();
      $.post("/ajax/admin", data, function(result) {
        console.log(result);
        location.reload();
      });
      return false;
    });
    $("#btn-entry-cancel").click(function() {
      location.reload();
      return false;
    });
  });
</script>

{{template "footer.html"}}
