{{template "header.html"}}

<a href="/" class="btn btn-default">Volver</a><br>

<p>Ya estás autenticado.  Tu número de socio es {{.userinfo.id}}.</p>

<h1>Datos personales</h1>
<dl class="dl-horizontal">
  <dt>Nombre</dt>
    <dd>{{ .userinfo.name }}</dd>
  <dt>Apellidos</dt>
    <dd>{{ .userinfo.surname }}</dd>
  <dt>Socio n&ordm;</dt>
    <dd>{{ .userinfo.id }}</dd>
  <dt>DNI</dt>
    <dd>{{ .userinfo.dni }}</dd>
  <dt>Cumpleaños</dt>
    <dd>{{ .userinfo.birth }}</dd>
  <dt>Domicilio</dt>
    <dd>{{ .userinfo.address }}</dd>
  <dt>Código postal</dt>
    <dd>{{ .userinfo.zip }}</dd>
  <dt>Ciudad</dt>
    <dd>{{ .userinfo.city }}</dd>
  <dt>Provincia</dt>
    <dd>{{ .userinfo.province }}</dd>
{{if .userinfo.phones}}
  <dt>Teléfono(s)</dt>
    <dd>{{range $i, $e := .userinfo.phones}}{{if $i}}<br>{{end}}{{.}}{{end}}</dd>
{{end}}
{{if .userinfo.emails}}
  <dt>E-mail(s)</dt>
    <dd>{{range $i, $e := .userinfo.emails}}{{if $i}}<br>{{end}}{{.}}{{end}}</dd>
{{end}}
{{if .userinfo.board}}
  <dt>Cargos</dt>
    <dd>{{range $i, $e := .userinfo.board}}{{if $i}}<br>{{end}}{{.Position}} ({{.Start}} - {{.End}}){{end}}</dd>
{{end}}
{{if .roles}}
  <dt>Roles</dt>
    <dd>{{range $i, $e := .roles}}{{$i}} {{end}}
{{end}}
</dl>

<h1>userinfo</h1>
<pre>
{{.userinfo}}
</pre>

<h1>Session</h1>
<pre>
{{.session}}
</pre>

<h1>{ { . } }</h1>
<pre>
{{.}}
</pre>

{{template "footer.html"}}
