{{template "header.html"}}

<a href="/query" class="btn btn-default">Volver</a><br>

<h1>Datos personales</h1>
<form id="form">
<input type="hidden" name="action" value="update-person">
<input type="hidden" name="id" value="{{ .userinfo.id }}">
<dl class="kati">
  <dt>Nombre</dt>
    <dd id="name">{{ .userinfo.name }}</dd>
  <dt>Apellidos</dt>
    <dd id="surname">{{ .userinfo.surname }}</dd>
  <dt>Socio n&ordm;</dt>
    <dd id="id">{{ .userinfo.id }}</dd>
  <dt>DNI</dt>
    <dd id="dni">{{ .userinfo.dni }}</dd>
  <dt>Nacimiento</dt>
    <dd id="birth">{{ .userinfo.birth }}</dd>
  <dt>Domicilio</dt>
    <dd id="address">{{ .userinfo.address }}</dd>
  <dt>Código postal</dt>
    <dd id="zip">{{ .userinfo.zip }}</dd>
  <dt>Ciudad</dt>
    <dd id="city">{{ .userinfo.city }}</dd>
  <dt>Provincia</dt>
    <dd id="province">{{ .userinfo.province }}</dd>
  <dt>Género</dt>
    <dd id="gender">{{ .userinfo.gender }}</dd>
{{if .userinfo.phones}}
 {{range $i, $e := .userinfo.phones}}
  <dt>{{if not $i}}Teléfono(s){{end}}</dt>
    <dd id="phone-{{$i}}">{{.}}</dd>
 {{end}}
{{else}}
  <dt>Teléfono(s)</dt>
    <dd id="phone-0">---</dd>
{{end}}
{{if .userinfo.emails}}
 {{range $i, $e := .userinfo.emails}}
  <dt>{{if not $i}}E-mail(s){{end}}</dt>
    <dd id="email-{{$i}}">{{.}}</dd>
 {{end}}
{{else}}
  <dt>E-mail(s)</dt>
    <dd id="email-0">---</dd>
{{end}}
{{if .userinfo.board}}
 {{range $i, $e := .userinfo.board}}
  <dt>{{if not $i}}Cargos{{end}}</dt>
    <dd id="board-{{$i}}">{{.Position}} ({{.Start}} - {{.End}})</dd>
 {{end}}
{{end}}
</dl>
</form>

{{ if .admin }}
<button class="btn btn-default" id="edit">Editar</button>
<button class="btn btn-default" id="save" style="display: none">Guardar</button>
<button class="btn btn-default" id="cancel" style="display: none">Cancelar</button>
<script>
  $(function() {
    $("#edit").click(function() {
      var phones = '';
      var emails = '';
      $("#edit").hide();
      $("#save").show();
      $("#cancel").show();
      $("dd").each(function(index) {
        if ($(this).attr("id").startsWith("phone-")) {
          phones += $(this).text() + ' ';
          if ($(this).attr("id") == "phone-0") {
            $(this).attr('id', 'phones');
          }
          return;
        }
        if ($(this).attr("id").startsWith("email-")) {
          emails += $(this).text() + ' ';
          if ($(this).attr("id") == "email-0") {
            $(this).attr('id', 'emails');
          }
          return;
        }
        if (($(this).attr("id") == "id") ||
            ($(this).attr("id").startsWith("phone-")) ||
            ($(this).attr("id").startsWith("email-")) ||
            ($(this).attr("id").startsWith("board-"))) {
          return;
        }
        text = $(this).text();
        if ($(this).attr("id") == "gender") {
          html = '<select name="gender" class="person">';
          if (text[0]=='M') {
            html += '<option value="M" selected="selected">Masculino</option>';
            html += '<option value="F">Femenino</option>';
          } else {
            html += '<option value="M">Masculino</option>';
            html += '<option value="F" selected="selected">Femenino</option>';
          }
          html += '</select>';
          $(this).html(html);
        } else {
          $(this).html('<input name="' + $(this).attr("id") + '" class="person" type="text" value="' + text + '">');
        }
      });
      phones = phones.replace(/^--- /, '');
      emails = emails.replace(/^--- /, '');
      $("#phones").html('<input name="phones" class="person" type="text" value="' + phones + '">');
      $("#emails").html('<input name="emails" class="person" type="text" value="' + emails + '">');
      $("dd").each(function(index) {
        if ($(this).attr("id").startsWith("phone-")) {
          $(this).remove();
        }
        if ($(this).attr("id").startsWith("email-")) {
          $(this).remove();
        }
      });
    });
    $("#cancel").click(function() {
      location.reload();
    });
    $("#save").click(function() {
      data = $("#form").serialize();
      $.post("/ajax/admin", data, function(result) {
        console.log(result);
        location.reload();
      });
    });
  });
</script>
{{ end }}


{{template "footer.html"}}
