{{template "header.html"}}

<h1>Datos personales</h1>
<dl class="dl-horizontal">
  <dt>Nombre</dt>
    <dd>{{ .userinfo.name }}</dd>
  <dt>Apellidos</dt>
    <dd>{{ .userinfo.surname }}</dd>
  <dt>Socio n&ordm;</dt>
    <dd>{{ .userinfo.id }}</dd>
  <dt>DNI</dt>
    <dd>{{ .userinfo.dni }}</dd>
  <dt>Cumpleaños</dt>
    <dd>{{ .userinfo.birth }}</dd>
  <dt>Domicilio</dt>
    <dd>{{ .userinfo.address }}</dd>
  <dt>Código postal</dt>
    <dd>{{ .userinfo.zip }}</dd>
  <dt>Ciudad</dt>
    <dd>{{ .userinfo.city }}</dd>
  <dt>Provincia</dt>
    <dd>{{ .userinfo.province }}</dd>
{{if .userinfo.phones}}
  <dt>Teléfono(s)</dt>
    <dd>{{range $i, $e := .userinfo.phones}}{{if $i}}<br>{{end}}{{.}}{{end}}</dd>
{{end}}
{{if .userinfo.emails}}
  <dt>E-mail(s)</dt>
    <dd>{{range $i, $e := .userinfo.emails}}{{if $i}}<br>{{end}}{{.}}{{end}}</dd>
{{end}}
{{if .userinfo.board}}
  <dt>Cargos</dt>
    <dd>{{range $i, $e := .userinfo.board}}{{if $i}}<br>{{end}}{{.Position}} ({{.Start}} - {{.End}}){{end}}</dd>
{{end}}
</dl>
<hr>
{{if ge .type 5}}
<a href="/query" class="btn btn-default">Consultas</a>
{{end}}
{{if eq .type 6}}
<a href="/admin" class="btn btn-default">Admin</a>
{{end}}
<!--
-->

{{template "footer.html"}}
