{{template "header.html"}}

<h1>Club de Espeleología Katiuskas - Intranet</h1>

<h2>Datos de interés</h2>

<dl class="kati">
  <dt>Nombre</dt>
    <dd>Club Deportivo Elemental de Espeleología Katiuskas</dd>
  <dt>NIF</dt>
    <dd>G-81622987</dd>
  <dt>Dirección</dt>
    <dd>Polideportivo Los Rosales sala 2<br>C/ Lilas, s/n<br>28933 Móstoles (Madrid)</dd>
  <dt>Cuenta bancaria</dt>
    <dd>IBAN: ES75-0073-0100-5305-0580-2942 (Openbank)</dd>
</dl>

<a href="/socios" class="btn btn-default">Socios</a>
<a href="/info" class="btn btn-default">Información general</a>
{{- if .roles.admin}}
<a href="/actividades" class="btn btn-default">Actividades</a>
<a href="/items" class="btn btn-default">Inventario</a>
{{- end}}
{{- if or .roles.admin .roles.money}}
<a href="/money" class="btn btn-default">Contabilidad</a>
{{- end}}
{{- if or .roles.admin .roles.repo}}
<a href="/repo/" class="btn btn-default">Repositorio</a>
{{- end}}

<h2>Mis datos personales</h2>
<dl class="kati">
  <dt>Nombre</dt>
    <dd>{{ .userinfo.name }}</dd>
  <dt>Apellidos</dt>
    <dd>{{ .userinfo.surname }}</dd>
  <dt>Socio n&ordm;</dt>
    <dd>{{ .userinfo.id }}</dd>
  <dt>DNI</dt>
    <dd>{{ .userinfo.dni }}</dd>
  <dt>Cumpleaños</dt>
    <dd>{{ .userinfo.birth }}</dd>
  <dt>Domicilio</dt>
    <dd>{{ .userinfo.address }}</dd>
  <dt>Código postal</dt>
    <dd>{{ .userinfo.zip }}</dd>
  <dt>Ciudad</dt>
    <dd>{{ .userinfo.city }}</dd>
  <dt>Provincia</dt>
    <dd>{{ .userinfo.province }}</dd>
{{- if .userinfo.phones}}
  <dt>Teléfono(s)</dt>
    <dd>{{range $i, $e := .userinfo.phones}}{{if $i}}<br>{{end}}{{.}}{{end}}</dd>
{{- end}}
{{- if .userinfo.emails}}
  <dt>E-mail(s)</dt>
    <dd>{{range $i, $e := .userinfo.emails}}{{if $i}}<br>{{end}}{{.}}{{end}}</dd>
{{- end}}
{{- if .userinfo.board}}
  <dt>Cargos</dt>
    <dd>{{range $i, $e := .userinfo.board}}{{if $i}}<br>{{end}}{{.Position}} ({{.Start}} - {{.End}}){{end}}</dd>
{{- end}}
</dl>

{{template "footer.html"}}
