{{template "header.html"}}

<a href="/socios" class="btn btn-default">Volver</a><br>

{{if .userinfo.pic}}
<div class="person-pic">
  <img src="{{.userinfo.pic}}" style="max-width: 100%">
</div>
{{end}}

<div class="person-main">
<h1>Datos personales</h1>
<form id="form">
<input type="hidden" name="action" value="update-person">
<input type="hidden" name="id" value="{{ .userinfo.id }}">
<dl class="kati">
  <dt>Nombre</dt>
    <dd id="name">{{ or .userinfo.name "---" }}</dd>
  <dt>Apellidos</dt>
    <dd id="surname">{{ or .userinfo.surname "---" }}</dd>
  <dt>Socio n&ordm;</dt>
    <dd id="id">{{ .userinfo.id }}</dd>
  <dt>DNI</dt>
    <dd id="dni">{{ or .userinfo.dni "---" }}</dd>
  <dt>Nacimiento</dt>
    <dd id="birth">{{ or .userinfo.birth "---" }}</dd>
  <dt>Domicilio</dt>
    <dd id="address">{{ or .userinfo.address "---" }}</dd>
  <dt>Código postal</dt>
    <dd id="zip">{{ or .userinfo.zip "---" }}</dd>
  <dt>Ciudad</dt>
    <dd id="city">{{ or .userinfo.city "---" }}</dd>
  <dt>Provincia</dt>
    <dd id="province">{{ or .userinfo.province "---" }}</dd>
  <dt>Género</dt>
    <dd id="gender">{{ or .userinfo.gender "---" }}</dd>
{{if .userinfo.phones -}}
 {{- range $i, $e := .userinfo.phones -}}
  <dt>{{if not $i}}Teléfono(s){{end}}</dt>
    <dd id="phone-{{$i}}">{{.}}</dd>
 {{- end}}
{{else -}}
  <dt>Teléfono(s)</dt>
    <dd id="phone-0">---</dd>
{{end -}}
{{if .userinfo.emails -}}
 {{- range $i, $e := .userinfo.emails -}}
  <dt>{{if not $i}}E-mail(s){{end}}</dt>
    <dd id="email-{{$i}}">{{.}}</dd>
 {{- end}}
{{else -}}
  <dt>E-mail(s)</dt>
    <dd id="email-0">---</dd>
{{end -}}
{{if .userinfo.board -}}
 {{- range $i, $e := .userinfo.board -}}
  <dt>{{if not $i}}Cargos{{end}}</dt>
    <dd id="board-{{$i}}">{{.Position}} ({{.Start}} - {{.End}})</dd>
 {{- end}}
{{end -}}
  <dt>Contacto emergencia</dt>
    <dd id="emerg_contact">{{or .userinfo.emerg_contact "---" }}</dd>
</dl>
</form>

<h1>Logs</h1>
<dl class="kati">
{{range .userinfo.logs}}
  <dt>{{.date}}</dt>
    <dd>{{.text}}</dd>
{{end}}
</dl>
</div>

{{ if .admin }}
<button class="btn btn-default" id="edit">Editar</button>
<div class="edit-buttons" style="display: none">
  <button class="btn btn-default" id="pic">Cambiar foto</button>
  <input type="file" id="pic-file" name="pic-file" accept="image/*" />
  <button class="btn btn-default" id="save">Guardar</button>
  <button class="btn btn-default" id="cancel">Cancelar</button>
</div>
<hr>
{{ if eq .userinfo.type 2 }}
<button class="btn btn-default" id="btn-alta">Alta en el club</button>
{{else if eq .userinfo.type 3 }}
<button class="btn btn-default" id="btn-fin-baja-temporal">Fin baja temporal</button>
<button class="btn btn-default" id="btn-baja">Baja definitiva</button>
{{else if eq .userinfo.type 4 }}
<button class="btn btn-default" id="btn-new-license">Nueva licencia</button>
<button class="btn btn-default" id="btn-baja-temporal">Baja temporal</button>
<button class="btn btn-default" id="btn-baja">Baja definitiva</button>
{{end}}
<div class="popup popup-alta">
  <form>
    <h1>Alta en el club</h1>
    <input type="hidden" name="action" value="add-alta">
    <input type="hidden" name="id" value="{{ .userinfo.id }}">
    Fecha: <input type="date" name="date">
    <button class="btn btn-default btn-popup-save">Guardar</button>
    <button class="btn btn-default btn-cancel">Cancelar</button>
  </form>
</div>
<div class="popup popup-baja-temporal">
  <form>
    <h1>Inicio de baja temporal</h1>
    <input type="hidden" name="action" value="add-baja-temporal">
    <input type="hidden" name="id" value="{{ .userinfo.id }}">
    Fecha: <input type="date" name="date">
    <button class="btn btn-default btn-popup-save">Guardar</button>
    <button class="btn btn-default btn-cancel">Cancelar</button>
  </form>
</div>
<div class="popup popup-fin-baja-temporal">
  <form>
    <h1>Fin de baja temporal</h1>
    <input type="hidden" name="action" value="fin-baja-temporal">
    <input type="hidden" name="id" value="{{ .userinfo.id }}">
    Fecha: <input type="date" name="date">
    <button class="btn btn-default btn-popup-save">Guardar</button>
    <button class="btn btn-default btn-cancel">Cancelar</button>
  </form>
</div>
<div class="popup popup-new-license" style="display: none">
  <form id="license-form">
    <input type="hidden" name="action" value="add-license">
    <input type="hidden" name="id" value="{{ .userinfo.id }}">
    Año: <input type="integer" name="license-year">
    Tipo:
    <select name="license-federation">
{{range .federations}}
      <option>{{.}}</option>
{{end}}
    </select>
    Fecha: <input type="date" name="license-issued">
    <input type="checkbox" name="license-tecnico"> Técnico
    <button class="btn btn-default" id="btn-license-save">Guardar</button>
    <button class="btn btn-default" id="btn-license-cancel">Cancelar</button>
  </form>
</div>
<script>
  $(function() {
    $("#edit").click(function() {
      var phones = '';
      var emails = '';
      $("#edit").hide();
      $(".edit-buttons").show();
      $("dd").each(function(index) {
        if (!$(this).attr("id")) {
          return;
        }
        if ($(this).attr("id").startsWith("phone-")) {
          phones += $(this).text() + ' ';
          if ($(this).attr("id") == "phone-0") {
            $(this).attr('id', 'phones');
          }
          return;
        }
        if ($(this).attr("id").startsWith("email-")) {
          emails += $(this).text() + ' ';
          if ($(this).attr("id") == "email-0") {
            $(this).attr('id', 'emails');
          }
          return;
        }
        if (($(this).attr("id") == "id") ||
            ($(this).attr("id").startsWith("phone-")) ||
            ($(this).attr("id").startsWith("email-")) ||
            ($(this).attr("id").startsWith("board-"))) {
          return;
        }
        text = $(this).text().replace(/^---$/, '');
        if ($(this).attr("id") == "gender") {
          html = '<select name="gender" class="person">';
          if (text[0]=='M') {
            html += '<option value="M" selected="selected">Masculino</option>';
            html += '<option value="F">Femenino</option>';
          } else {
            html += '<option value="M">Masculino</option>';
            html += '<option value="F" selected="selected">Femenino</option>';
          }
          html += '</select>';
          $(this).html(html);
        } else if ($(this).attr("id") == "emerg_contact") {
          $(this).html('<textarea name="' + $(this).attr("id") + '" class="person">' + text + '</textarea>');
        } else {
          $(this).html('<input name="' + $(this).attr("id") + '" class="person" type="text" value="' + text + '">');
        }
      });
      phones = phones.replace(/^--- /, '');
      emails = emails.replace(/^--- /, '');
      $("#phones").html('<input name="phones" class="person" type="text" value="' + phones + '">');
      $("#emails").html('<input name="emails" class="person" type="text" value="' + emails + '">');
      $("dd").each(function(index) {
        if (!$(this).attr("id")) {
          return;
        }
        if ($(this).attr("id").startsWith("phone-")) {
          $(this).remove();
        }
        if ($(this).attr("id").startsWith("email-")) {
          $(this).remove();
        }
      });
    });
    $("#pic").click(function(){
      $("#pic-file").click();
    });
    $("#pic-file").change(function(){
      var file = this.files[0];
      if(file.name.length < 1) {
        return;
      } else if(file.size > 100000) {
        alert("The file is too big");
        return;
      } else if(file.type != "image/jpg" && file.type != "image/jpeg" ) {
        alert("The file must be a jpeg");
        return;
      }
      var reader = new FileReader();
      reader.onload = function(ev) {
        var result = ev.target.result;
        $.post("/ajax/admin", { action: "update-person-pic", id: {{ .userinfo.id }}, file: result }, function() {
          location.reload();
        });
      };
      reader.readAsDataURL(file);
    });
    $("#cancel").click(function() {
      location.reload();
    });
    $("#save").click(function() {
      data = $("#form").serialize();
      $.post("/ajax/admin", data, function(result) {
        console.log(result);
        location.reload();
      });
      return false;
    });
    $("#btn-alta").click(function() {
      $(".popup-alta").show();
    });
    $("#btn-baja-temporal").click(function() {
      $(".popup-baja-temporal").show();
    });
    $("#btn-fin-baja-temporal").click(function() {
      $(".popup-fin-baja-temporal").show();
    });
    $("#btn-new-license").click(function() {
      $(".popup-new-license").show();
    });
    $("#btn-license-save").click(function() {
      data = $("#license-form").serialize();
      $.post("/ajax/admin", data, function(result) {
        console.log(result);
        location.reload();
      });
      return false;
    });
    $("#btn-license-cancel").click(function() {
      location.reload();
    });
    $(".btn-popup-save").click(function() {
      data = $(this).closest("form").serialize();
      $.post("/ajax/admin", data, function(result) {
        console.log(result);
        location.reload();
      });
      return false;
    });
    $(".btn-cancel").click(function() {
      location.reload();
      return false;
    });
  });
</script>
{{ end }}

{{template "footer.html"}}
